/********** Base styles **********/
* {
  box-sizing: border-box;
}

h1 {
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

div.container {
  position: relative;
  border: 2px solid black;
  background-color: #999999;
  height: 175px;
  margin: 10px;
}

.section-title {
  width: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  text-align: center;
  border: 2px solid black;
  border-right: 1px;
  border-top: 1px;
}

#left-category {
  background-color: #D49899;
}

#middle-category {
  background-color: #BF4646;
  color: white;
}

#right-category {
  background-color: #E4D09B;
}

p {
  padding: 10px;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}