
#navbar-brand {
	font-size: 2em;
}

#section {
	background-color: lightgrey;
	height: 1000px;
	padding: 0px 10px 10px 10px;
	margin-bottom: 15px
}

h3 {
	padding-top: 10px;
}

.navbar-default {
	/*background-color: lightgreen;*/
}

.navbar-toggle {
	/*background-color: lightgreen;*/
}

#span {
	/*background-color: blue;*/
}

.btn-default {
	/*background-color: lightgrey;*/
}

#bs-example-navbar-collapse-1 {
	/*background-color: lightgreen;*/
}