/*.navbar-nav {
	background-color: lightgrey;
}*/

.container {
	background-color: grey;
}

.row {
	height: 1000px;
}

/*.container-fluid {
	background-color: grey;
	padding: 0px 10px 10px 10px;
	margin-left: 10px;
	margin-right: 10px;*/
}